body
    background blue-three
    color tan-one
    font-size font-size-base
    line-height 1
    font-family 'Ubuntu', Calibri, "Helvetica Neue", Helvetica, Verdana, Trebuchet, sans-serif

h1
    font-size font-size-h1
    text-align center

.logo
    width 280px
    height 60px
    background-image url(/images/logo.png)
    background-repeat no-repeat
    background-position center center
    color transparent
    overflow hidden
    margin 25px auto

.login
    text-align center
    font-size font-size-h2
    text-decoration underline

.twitter-login
    margin 25px auto
    width 158px
    height 28px
    display block
    background-image url(/images/twitter.png)
    background-repeat no-repeat
    background-position center

.tf-container
    max-width 1000px
    margin 0 auto

.result-image
    max-width 800px
    margin 0 auto