// ==============
// === Colors ===
// ==============
blue-one = #446699
blue-two = #667799
blue-three = #99aacc
red-one = #dd3322
tan-one = #ffeeee

gray-darker = lighten(#000, 13.5%)
gray-dark = lighten(#000, 20%)
gray = lighten(#000, 33.5%)
gray-light = lighten(#000, 60%)
gray-lighter = lighten(#000, 93.5%)

// =============
// === Fonts ===
// =============
font-size-base = 14px
font-size-small = ceil((font-size-base * 0.85))
font-size-large = ceil((font-size-base * 1.25))

font-size-h1 = ceil((font-size-base * 2.6))
font-size-h2 = ceil((font-size-base * 2.15))
font-size-h3 = ceil((font-size-base * 1.7))
font-size-h4 = font-size-large
font-size-h5 = font-size-base
font-size-h6 = font-size-small

line-height-base = 1.428571429