body
    background red-one
    color tan-one
    font-size font-size-base
    line-height 1
    font-family 'Ubuntu', Calibri, "Helvetica Neue", Helvetica, Verdana, Trebuchet, sans-serif

h1
    font-size font-size-h1
    text-align center

.logo
    width 280px
    height 60px
    background-image url(/images/logo.png)
    background-repeat no-repeat
    background-position center center
    color transparent
    overflow hidden
    margin 0 auto